.hint-text {
    position: absolute;
    bottom: 0px;
    margin: 5px;
    padding: 0 10px;
  }
  
  .hint-text:hover {
    background-color: rgba(255,255,255, 0.25);
  }
  
  .hint-text > p {
    margin-bottom: 0;
    line-height: 55px;
  }

.hint-text:hover > p > span.give-up {
     display: none;
}
  
  .hint-text > p > span.the-answer{
     visibility: hidden;
  }
  
  .hint-text:hover > p > span.the-answer {
    visibility: visible;
  }

.puto-card {
  height: 100px;
  margin-bottom: 10px;
}

.hidden {
  /* TODO: FIX THIS */
  position: absolute;
  top: -99999px;
}

.next-card {
  background-color: transparent !important;
  border-color: transparent !important;
}

.next-card:hover, .next-card:focus {
  background-color: rgba(0,0,0,0.25) !important;
}

.next-card:focus {
  box-shadow: none !important;
}